#basic-button {
  /* color: #b64339; */
  margin: 0px 10px;
}

.MuiStack-root .css-yzjoij {
  position: relative;
  height: 64px;
}
.css-yzjoij img {
  max-height: 60px;
}
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-1ub3k4s-MuiSvgIcon-root {
  color: #b64339;
} */
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-ivs1cr-MuiSvgIcon-root {
  color: #b64339;
} */
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-4uxqju-MuiSvgIcon-root {
  color: #b64339;
}
.css-4s2pl4-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
  .MuiTypography-root {
  color: #b64339 !important;
} */
/* .css-4s2pl4-MuiButtonBase-root-MuiListItemButton-root.Mui-selected
  .MuiTypography-root {
  color: #b64339 !important;
} */
.css-1ie2bpi-MuiButtonBase-root-MuiIconButton-root {
  display: none !important;
}
.css-m69qwo-MuiStack-root {
  justify-content: center !important;
  align-items: center !important;
}
@media (min-width: 0px) {
  div.MuiBox-root.css-181ggw6 {
    position: static;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
/* BoardBar */
